/SDK/projects/all_code_compile/Listings/
/SDK/projects/all_code_compile/obj/

/SDK/projects/app_2.4g/app_usb_2.4g/Listings/
/SDK/projects/app_2.4g/app_usb_2.4g/obj/

/SDK/projects/app_2.4g/boot_usb/lst/
/SDK/projects/app_2.4g/boot_usb/obj/

/SDK/projects/app_ancs/Listings/
/SDK/projects/app_ancs/obj/
/SDK/projects/app_ancs/*.uvgui.*
/SDK/projects/app_ancs/output/app/

/SDK/projects/app_controller/Listings/
/SDK/projects/app_controller/obj/
/SDK/projects/app_controller/*.uvgui.*
/SDK/projects/app_controller/output/app/

/SDK/projects/app_gatt/Listings/
/SDK/projects/app_gatt/obj/
/SDK/projects/app_gatt/*.uvgui.*
/SDK/projects/app_gatt/output/app/

/SDK/projects/app_gatt_multi_connect/Listings/
/SDK/projects/app_gatt_multi_connect/obj/
/SDK/projects/app_gatt_multi_connect/*.uvgui.*
/SDK/projects/app_gatt_multi_connect/output/app/

/SDK/projects/app_gatt_all_roles/Listings/
/SDK/projects/app_gatt_all_roles/obj/
/SDK/projects/app_gatt_all_roles/*.uvgui.*
/SDK/projects/app_gatt_all_roles/output/app/

/SDK/projects/app_gatt_all_roles_for_mesh/Listings/
/SDK/projects/app_gatt_all_roles_for_mesh/obj/

/SDK/projects/app_gatt_all_roles_jtag/Listings/
/SDK/projects/app_gatt_all_roles_jtag/obj/
/SDK/projects/app_gatt_all_roles_jtag/*.uvgui.*
/SDK/projects/app_gatt_all_roles_jtag/output/app/

/SDK/projects/app_gatt_central/Listings/
/SDK/projects/app_gatt_central/obj/
/SDK/projects/app_gatt_central/*.uvgui.*
/SDK/projects/app_gatt_central/output/app/

/SDK/projects/app_mouse/Listings/
/SDK/projects/app_mouse/obj/
/SDK/projects/app_mouse/*.uvgui.*
/SDK/projects/app_mouse/output/app/

/SDK/projects/app_rc/Listings/
/SDK/projects/app_rc/obj/
/SDK/projects/app_rc/*.uvgui.*
/SDK/projects/app_rc/output/app/

/SDK/projects/app_multi_bond/Listings/
/SDK/projects/app_multi_bond/obj/
/SDK/projects/app_multi_bond/*.uvgui.*
/SDK/projects/app_multi_bond/output/app/

/SDK/projects/boot/lst/
/SDK/projects/boot/obj/
/SDK/projects/boot/*.uvgui.*

/SDK/projects/boot_for_all_roles/lst/
/SDK/projects/boot_for_all_roles/obj/
/SDK/projects/boot_for_all_roles/*.uvgui.*

/SDK/projects/boot_usb_for_central/lst/
/SDK/projects/boot_usb_for_central/obj/
/SDK/projects/boot_usb_for_central/*.uvgui.*

/SDK/projects/boot_usb_for_mouse/lst/
/SDK/projects/boot_usb_for_mouse/obj/
/SDK/projects/boot_usb_for_mouse/*.uvgui.*

/SDK/projects/controller_lib/Listings/
/SDK/projects/controller_lib/obj/
/SDK/projects/controller_lib/*.uvgui.*

/SDK/projects/stack/Listings/
/SDK/projects/stack/obj/
/SDK/projects/stack/*.uvgui.*

/SDK/projects/stack_all_roles/Listings/
/SDK/projects/stack_all_roles/obj/
/SDK/projects/stack_all_roles/*.uvgui.*

/SDK/projects/stack_all_roles_lib_jtag/Listings/
/SDK/projects/stack_all_roles_lib_jtag/obj/
/SDK/projects/stack_all_roles_lib_jtag/*.uvgui.*

/SDK/projects/stack_central/Listings/
/SDK/projects/stack_central/obj/
/SDK/projects/stack_central/*.uvgui.*

/SDK/projects/stack_mouse/Listings/
/SDK/projects/stack_mouse/obj/
/SDK/projects/stack_mouse/*.uvgui.*



/SDK/*.bak
/SDK/*.bk*
/SDK/*.IAB
/SDK/*.IAD
/SDK/*.IMB
/SDK/*.IMD
/SDK/*.PFI
/SDK/*.PO
/SDK/*.PR
/SDK/*.PRI
/SDK/*.PS
/SDK/*.SearchResults
/SDK/*.WK3
/SDK/*.sip_sym
/SDK/*.sip_xab
/SDK/*.sip_xad
/SDK/*.sip_xc
/SDK/*.sip_xf
/SDK/*.sip_xm
/SDK/*.sisc
/SDK/*.sip_xr
/SDK/*.sip_xsb
/SDK/*.sip_xsd
/SDK/*.siproj
/SDK/*.xml
/SDK/*.xml



/SDK/projects/*/*.bak
/SDK/projects/*/*.bk*
/SDK/projects/*/*.IAB
/SDK/projects/*/*.IAD
/SDK/projects/*/*.IMB
/SDK/projects/*/*.IMD
/SDK/projects/*/*.PFI
/SDK/projects/*/*.PO
/SDK/projects/*/*.PR
/SDK/projects/*/*.PRI
/SDK/projects/*/*.PS
/SDK/projects/*/*.SearchResults
/SDK/projects/*/*.WK3
/SDK/projects/*/*.sip_sym
/SDK/projects/*/*.sip_xab
/SDK/projects/*/*.sip_xad
/SDK/projects/*/*.sip_xc
/SDK/projects/*/*.sip_xf
/SDK/projects/*/*.sip_xm
/SDK/projects/*/*.sisc
/SDK/projects/*/*.sip_xr
/SDK/projects/*/*.sip_xsb
/SDK/projects/*/*.sip_xsd
/SDK/projects/*/*.siproj
/SDK/projects/*/*.xml
/SDK/projects/*/*.xml
/SDK/projects/app_gatt_ftmp
/SDK/projects/app_gatt_all_roles_for_mesh
