

SDK/projects/app_adv_rx/output/*.obj
SDK/projects/app_adv_tx/output/*.obj
SDK/projects/lib/output/*.obj

SDK/projects/app_adv_rx/output/*.__i
SDK/projects/app_adv_tx/output/*.__i
SDK/projects/lib/output/*.__b

SDK/projects/app_adv_rx/output/*.hex
SDK/projects/app_adv_tx/output/*.hex
SDK/projects/lib/output/*.hex


SDK/projects/app_adv_rx/output/*.bin
SDK/projects/app_adv_tx/output/*.bin

SDK/projects/app_adv_rx/output/*.plg
SDK/projects/app_adv_tx/output/*.plg
SDK/projects/lib/output/*.plg

SDK/projects/app_adv_rx/output/*.htm
SDK/projects/app_adv_tx/output/*.htm

SDK/projects/app_adv_rx/lst/
SDK/projects/app_adv_tx/lst/
SDK/projects/lib/lst/

SDK/projects/app_adv_rx/output/*bk_fw
SDK/projects/app_adv_tx/output/*bk_fw
SDK/projects/app_adv_rx/output/*.lnp
SDK/projects/app_adv_tx/output/*.lnp
SDK/projects/app_adv_rx/*.uvgui.*
SDK/projects/app_adv_tx/*.uvgui.*
SDK/projects/app_adv_rx/*.uvopt
SDK/projects/app_adv_tx/*.uvopt
SDK/projects/app_adv_rx/*.bak
SDK/projects/app_adv_tx/*.bak
SDK/projects/app_adv_rx/.vscode
SDK/projects/app_adv_tx/.vscode
Tools/RAM/DownloadTemp
Tools/RAM/Log
Tools/RAM/*.ini
Tools/RAM/*.bin
/.history
/SDK/source

