/SDK/projects/bim/obj/
/SDK/projects/bim/lst/

/SDK/projects/bim_1/obj/
/SDK/projects/bim_1/lst/

/SDK/projects/bim_scan_adv/obj/
/SDK/projects/bim_scan_adv/lst/

/SDK/projects/ble_app_ancs/obj/
/SDK/projects/ble_app_ancs/lst/
/SDK/projects/ble_app_ancs/*.uvgui.*
/SDK/projects/ble_app_ancs/output/app/*.bin

/SDK/projects/ble_app_gatt/obj/
/SDK/projects/ble_app_gatt/lst/
/SDK/projects/ble_app_gatt/*.uvgui.*
/SDK/projects/ble_app_gatt/output/app/*.bin

/SDK/projects/ble_app_gatt_multi_connect/obj/
/SDK/projects/ble_app_gatt_multi_connect/lst/
/SDK/projects/ble_app_gatt_multi_connect/*.uvgui.*
/SDK/projects/ble_app_gatt_multi_connect/output/app/*.bin

/SDK/projects/ble_app_gatt_1/obj/
/SDK/projects/ble_app_gatt_1/lst/
/SDK/projects/ble_app_gatt_1/*.uvgui.*
/SDK/projects/ble_app_gatt_1/output/app/*.bin


/SDK/projects/ble_app_gatt_128/obj/
/SDK/projects/ble_app_gatt_128/lst/
/SDK/projects/ble_app_gatt_128/*.uvgui.*
/SDK/projects//ble_app_gatt_128/output/app/*.bin


/SDK/projects/ble_app_gatt_long_pdu_advertising/obj/
/SDK/projects/ble_app_gatt_long_pdu_advertising/lst/
/SDK/projects/ble_app_gatt_long_pdu_advertising/*.uvgui.*
/SDK/projects/ble_app_gatt_long_pdu_advertising/output/app/*.bin

/SDK/projects/ble_app_gatt_muti_chars/obj/
/SDK/projects/ble_app_gatt_muti_chars/lst/
/SDK/projects/ble_app_gatt_muti_chars/*.uvgui.*
/SDK/projects/ble_app_gatt_muti_chars/output/app/*.bin

/SDK/projects/ble_app_gatt_scan_advertising/obj/
/SDK/projects/ble_app_gatt_scan_advertising/lst/
/SDK/projects/ble_app_gatt_scan_advertising/*.uvgui.*
/SDK/projects/ble_app_gatt_scan_advertising/output/app/*.bin

/SDK/projects/ble_app_gma_1/obj/
/SDK/projects/ble_app_gma_1/lst/
/SDK/projects/ble_app_gma_1/*.uvgui.*
/SDK/projects/ble_app_gma_1/output/app/*.bin

/SDK/projects/ble_app_remote/obj/
/SDK/projects/ble_app_remote/lst/
/SDK/projects/ble_app_remote/*.uvgui.*
/SDK/projects/ble_app_remote/output/app/*.bin

/SDK/projects/ble_app_wechat/obj/
/SDK/projects/ble_app_wechat/lst/
/SDK/projects/ble_app_wechat/*.uvgui.*
/SDK/projects/ble_app_wechat/output/app/*.bin

/SDK/projects/ble_app_LLSync_1/obj/
/SDK/projects/ble_app_LLSync_1/lst/
/SDK/projects/ble_app_LLSync_1/*.uvgui.*
/SDK/projects/ble_app_LLSync_1/output/app/*.bin

/SDK/projects/ble_stack/obj/
/SDK/projects/ble_stack/lst/
/SDK/projects/ble_stack/*.uvgui.*

/SDK/projects/ble_stack_scan_adv/obj/
/SDK/projects/ble_stack_scan_adv/lst/
/SDK/projects/ble_stack_scan_adv/*.uvgui.*

/SDK/projects/ble_stack_multi_connect/obj/
/SDK/projects/ble_stack_multi_connect/lst/
/SDK/projects/ble_stack_multi_connect/*.uvgui.*

/SDK/projects/ble_stack_1/obj/
/SDK/projects/ble_stack_1/lst/
/SDK/projects/ble_stack_1/*.uvgui.*

/SDK/projects/rf_test/obj/
/SDK/projects/rf_test/lst/
/SDK/projects/rf_test/*.uvgui.*


/SDK/*.si4project
/SDK/*.bak
/SDK/*.bk*
/SDK/*.IAB
/SDK/*.IAD
/SDK/*.IMB
/SDK/*.IMD
/SDK/*.PFI
/SDK/*.PO
/SDK/*.PR
/SDK/*.PRI
/SDK/*.PS
/SDK/*.SearchResults
/SDK/*.WK3
/SDK/*.sip_sym
/SDK/*.sip_xab
/SDK/*.sip_xad
/SDK/*.sip_xc
/SDK/*.sip_xf
/SDK/*.sip_xm
/SDK/*.sisc
/SDK/*.sip_xr
/SDK/*.sip_xsb
/SDK/*.sip_xsd
/SDK/*.siproj
/SDK/*.xml
/SDK/*.xml
*.bak

